@model List<Category>
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center md-col-8">
    <div> 
        <a asp-controller="Categories" asp-action="Create">Create Category</a>
    </div>
    @{
        foreach (var category in Model)
        {
            <div class="card">
                <div class="card-header">
                    <h3><a asp-controller="Categories" asp-action="Index" asp-route-id="@category.Id">@category.Name</a></h3>
                </div>
                <div class="card-body">
                    <p>@category.Description</p>
                </div>
            </div>
        }   
    }
</div>
